/*头部*/
.header{
    height: 80px;
    width: 1300px;
    margin: auto;
    padding: 0 30px 0;
    overflow:hidden;
}
.one{
    height: 100%;
    width: 400px;
    float: left;
    margin: 0 0 0 60px;
}
.tow{
    height: 100%;
    float: left;
}

/*导航栏*/
body{
    margin: 0;
}
.box{
    width:100%;
    height:40px;
    background-color: #3d8de3;
}
.con{
    width:1180px;
    height:100%;
    margin: auto;
}
.left{
    width: 690px;
    height: 100%;
    float: left;

}
.right{
    width: 240px;
    height:100%;
    float: right;
    background: #3f86ff;
    position: relative;
}
.box a{
    float: left;
    color: white;
    line-height: 40px;
    text-decoration: none;
    text-align: center;

}
.left a{
    width:20%;height:100%;
    font-size: 18px;
}
.right a{
    width:33%;height:100%;
}

.box .active {
    background-color: white;
    color: #3d8de3;
    border-top:3px solid orange;
}

.login{
    background: url("../image/img.png") no-repeat -315px -500px;
}
.left a:hover{
    background-color: white;
    color: #3d8de3;
    border-top:3px solid orange;
}
.sanjiao{
    width: 0px;height: 0px;
    border-top:10px solid #fff;
    border-left:5px solid #3d8de3;
    border-right:5px solid #3d8de3;
    position: absolute;right:0px;top:15px;
}

/*热门城市*/
.city{
    height: 20px;
    margin: 10px 0 0 280px;
    font-size: 14px;
    color: #000;
}
.city a{
    text-decoration: none;
    padding: 0 5px 0;
    color: #3d8de3;
}

/*轮播图*/
.banner {
    width: 100%;
    height: 380px;
    position: relative;
}
.banner1{
    width: 100%;
    height: 100%;
    background: url("../image/2.png") no-repeat;
    position: absolute;
}
.banner2{
    width: 100%;
    height: 100%;
    background: url("../image/3.png") no-repeat;
    position: absolute;
}
.ban{
    width: 120px;
    height: 20px;
    position: absolute;right:80px; bottom:10px;
    padding: 5px;
}
.ban1{
     width:50px;
     height: 10px;
     background: #000;
     float: left;
 }
.ban2{
    width:50px;
    height: 10px;
    background: orange;
    float: right;
}

/*热门航线*/
.big{
    width: 1400px;
    height: 540px;
    margin: auto;
    padding: 0 20px 0;
    overflow:hidden;
}
.big h1{
    padding: 20px 20px 0 0;
    float: left;
}
.citys{
    width: 900px;
    height: 30px;
    padding: 50px 50px 0 0;
    float: right;
    text-align: right;

}

.citys span{
    padding: 0 15px 0;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;

}
.citys span:hover{
    color: #3f86ff;
}
.fenge{
    float: left;
    width: 1400px;
    border-bottom: 1px #000 solid;
}
.detail{
    margin: 80px 0 0 0;
    height: 480px;
    width: 1400px;
    /*overflow:hidden;*/
}
.detail div{
    margin: 10px;
    width: 255px;
    height: 190px;
    float: left;
    padding-top: 30px;
    box-sizing: border-box;
    text-align: center;
    background: #eee;
}
.detail div:hover{
    background: white;
}
.detail .a{
    color: #494bff;
    font-weight: bold;
    font-size: 18px;
}
.detail .b{
    color: #494bff;
    font-weight: bold;
    font-size: 14px;
}
.detail .c{
    color: #494bff;
    font-size: 18px;
}
.c .d{
    color: red;
}
.c .e{
    color: red;
    font-size:30px;
}